* {
  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  margin: 0;
}

h1 {
  margin-top: 15px;
  font-size: 24px;
  color: #f9faf8;
}

.container-header {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.container-link {
  display: flex;
}

.container-link ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  font-size: 18px;
  color: #f9faf8;
}



h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
  background-color: #3882F6;
  padding: 8px 28px;
  border-radius: 10px;
 font-size: 18px;
 color: white;
 font-weight: bolder;
 border: 1px solid #3882F6;
}


.hero-container {
  display:flex;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 125px;
  gap: 150px;



}

.hero-left {
  /* display: flex;
   margin-top: 125px;
  justify-content: center;
  gap: 50px;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.hero-image {
  display: flex;
  
}

.hero-image img {
  border-radius: 10px;
}


.info-container {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 100px;
  
}


.info-title {
 padding-top: 40px;
 padding-bottom: 60px;
font-size: 36px;
font-weight: bolder;
color: #1F2937;
background-color: white;
text-align: center;

}

.box-container {
  display: flex;
  flex-direction: column;
  flex-basis: 108px;
text-align: center;
margin-bottom: 120px;


}


.blue-box {
width: 150px;
height: 150px;
border: 4px solid #3882F6;
border-radius: 10px;
display: flex;
}

.blue-box-text {
  margin-top: 10px;
  color: rgb(109, 103, 103);
}


.quote-container {
background-color: #E5E7EB;
padding: 120px;
display: flex;
/* justify-content: center; */
margin: 0;
flex-direction: column;
align-items: center;
width: 790;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  width: 790px;
  font-weight: 300;

}

.quote-author {
  
  align-self: auto;
margin-left: 450px;
color: #1F2937;
font-size: 25px;
font-weight: bold;
}